<div class = "container">
    <footer class = "footer">
        <small>
            Copyrigt &copy; <a hrep = "http://www.google.com">Sam Wuu</a> by 
            <a hrep = "http://www.google.com">Sam Wuu</a>
        </small>
        <nav>
            <ul>
                <li>About Me</li>
            </ul>
        </nav>
    </footer>
</div>